
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: calc(100% - 15px);
        width: 100%;
      }

      #infoDiv {
        padding: 8px;
      }

      #heading {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: #57b2ce;
      }

      .header {
        
        background: #57b2ce;
        color: rgb(0, 0, 0);
        height: 40px;
        display: flex;
        align-items: center;
        font-weight: bolder;
        font-size: 20pt;
      }

      .header img {
        height: 46px;
        
      }

      .header ul {
          display: inline-block;
          width:100%;
      }

      .header > ul > li {
          display: inline-block;
          position:relative;
          vertical-align:top;
          
      }

      #logo{
        text-align: left;
        width: 20%;
      }

      #title{
        text-align: center;
        vertical-align: middle;
        margin-top: 10px;
        width: 50%;
      }

      #dl{
        text-align: right;
        vertical-align: middle;
        text-decoration-style: underline;
        font-size: 16pt;
        margin-top: 10px;
        width: 20%;
      }

      @media screen and (max-width: 900px) {
        #viewDiv {
            padding: 0;
            margin: 0;
            height: calc(100% - 60px);
            width: 100%;
          }

        .header {
            height: 90px;
        }
     }

      a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }

      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }